<div class="booyah-box col-10 offset-1">
  <h1>Upload Your Artwork</h1>
  <%= simple_form_for [@user, @artwork] do |f| %>
    <%= f.input :title %>
    <%= f.collection_select :category_id, @categories, :id, :category_name, prompt: 'Select Cateogry' %>
    <%= f.input :price %>
    <%= f.input :image %>
    <br />
    <%= f.submit 'Upload', class: 'btn btn-primary' %>
  <% end %>
</div>